<table class="table table-bordered">
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Summary</th>
  </tr>
  <%- @channel.items.take(4).each do |item| %>
    <tr>
      <td><nobr><%= time_or_dash(item.published_at, :med) %></td>
      <td><%= link_to item, item %></td>
      <td><%= item.description %></td>
  <%- end %>
</table>
