	<table class="table table-striped table-content">
	  <tbody>
		<tr>
		<th class="col-md-2">Date</th>
		<th class="">Item</th>
		<th class="col-md-2"><!--Visuals--></th>
	  </tr>
		  <%- @channel.items.take(4).each do |item| %>
			<tr>
			  <td>
				<p class="nobr"><%= time_or_dash(item.published_at, :med_omit_year) %></p>
			  </td>
			  <td>
					<%= link_to item, item %>
					<hr/>
					<p class="small text-rightx">
					</p>
			  </td>
			  <td>
				<%- if item.events.present? %>
					<%- item.events.each do |event| %>
            <%= time_or_dash(event.start_date, :short) %>
            <%= time_or_dash(event.end_date, :short) %>
					<%- end %>
				<%- end %>
			  </td>
			</tr>
		<%- end %>
		</tbody>
	</table>	
