<div class="row">
  <%- @channel.items.take(8).each do |item| %>
    <div class="col-md-3 col-sm-4 col-xs-6" >
      <%= link_to render_asset(item.assets.first,'img-responsive' ), item %>
      <p class="small" style="height: 4em; line-height: 1.3em">
        <%- if item.description.present? %>
          <strong><%= truncate(item.description, length: 45) %></strong><br>
        <%- end %>
        <%= time_or_dash(item.published_at, :med_omit_year) %>
      </p>
    </div>
  <%- end %>
</div>
