<h1>Channels</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Entity</th>
    <th>Actions</th>
  </tr>

  <%- @channels.each do |channel| %>
    <tr>
      <td><%= link_to channel.name, channel %></td>
      <td><%= channel.display_type %></td>
      <td><%= link_to channel.entity.name, channel.entity %></td>
      <td></td>
    </tr>
  <%- end %>
</table>
