<p>Welcome <strong><%= h current_user.display_name %>!</strong></p>
<p>Please take a moment to browse the <%= link_to 'help section', help_path %>
and see what Media Magnet is all about. Next, check the
<%= link_to 'list of entities', entities_path %> to see if your organization is
already participating. If your group isn't represented yet, you can
<%= link_to 'register a new entity', new_entity_path %> to get started.</p>
<p>We hope you enjoy Media Magnet!</p>
