<h1><%= title 'Entities' %></h1>

<table class="table table-striped footable">
  <thead>
    <tr>
      <th>Name</th>
      <th data-hide="phone">Descripton</th>
      <% if current_user %>
        <th data-hide="phone">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%- @entities.each do |entity| %>
      <tr>
        <td><%= link_to entity.name, entity %></td>
        <td><%= entity.description %></td>
        <% if current_user %>
          <td><%= entity_action_links entity %></td>
        <% end %>
      </tr>
    <%- end %>
  </tbody>
</table>

