<h1><%= title 'Register New Entity' %></h1>

<p> An Entity is a group on campus that is responsible for authoring content. 
Media Magnet users may register new Entities with names that are not already in 
use.</p>

<%= render 'form', entity: @entity %>
