<%- no_close ||= false %>
<div class="alert <%= flash_class flash_type %> alert-dismissible fade in" role="alert">
  <%- unless no_close %>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%- end %>
  <%= flash_type == :welcome ? message.html_safe : message %>
</div>
