<div id="masthead">
  <div class="container">
    <div class="sm-col-12">
      <h1>Media Magnet</h1>
      <%= link_to('Login', '/dashboard')  %>
      <%= image_tag 'media-magnet.png' %>
    </div>
  </div>
</div>
