<p>
  A new entity has been registered in Media Magnet that requires your approval.
</p>

<p>
  Entity name: <%= @entity.name %><br>
  Registered by: <%= @users %><br>
  Description: <%= @entity.description %>
</p>

<p>
  Please visit <a href="https://mediamagnet.osu.edu/admin/entities">Media Magnet
  </a> to approve.
</p>
