<%- if item.assets.any? %>
  <%= link_to (render item.assets.first), item, class: "media-left pull-right thumbnail col-sm-2" %>
<%- end %>

<div class="media-body">
  <h4 class="media-heading"><%= link_to item, item %></h4>
  <p>
    <%= truncate(strip_tags(item.description.html_safe).html_safe, length: 150) %>
  </p>
  <%= link_to_channel(item.channel) %>
</div>

