<h2>Mappings</h2>
<p>Mappings allow you to translate hastags, categories and tags from your site
in to Media Magnet keywords. Mappings may be applied to channels, or to their 
entities, which will provide a default map for all channels in that entity.</p>
<p>For social media hastags (Twitter, Instagram, etc.) you <strong>should not
  include the leading '#'</strong>.</p>
<table class="table" id="mappings">
  <tr>
    <th>Tag</th>
    <th>Keyword</th>
    <th>Actions</th>
  </tr>

  <%- mappable.mappings.each do |mapping| %>
    <%= render 'mappings/mapping_row', mapping: mapping, mappable: mappable %>
  <%- end %>
</table>

<%= link_to 'Add Mapping', new_mapping_path(mappable), remote: true %>
<div id="add-mappings"></div>
