<h2>Mappings <small><%= help_icon_for('Mapping') %></small></h2>
<table class="table table-striped table-bordered mappings">
  <tbody>
    <tr>
      <th>Tag <span class="pull-right"><%= fa_icon('arrow-right') %></span></th>
      <th>Keyword</th>
      <th>Actions</th>
    </tr>
    <%- mappable.mappings.each do |mapping| %>
      <%= render 'mappings/mapping_row', mapping: mapping, mappable: mappable %>
    <%- end %>
  </tbody>
</table>

  <%- if policy(mappable).update? %>
    <%= link_to 'Add Mapping', new_mapping_path(mappable), remote: true %>
    <div id="add-mappings"></div>
  <%- end %>
