/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require chosen_bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "footable.core";

@import "osu_navbar-resp";
@import "channels";
@import "entities";
@import "help";
@import "items";
@import "welcome";

body {background:#fff; font: 16px/21px 'proximanova', Arial, sans-serif;font-weight:normal; color:#111;}
h1, h2, h3, h4, h5, h6, p, li, a {font-weight:normal;}
h1, h2, h3 {font-family:'proximanova',Arial,sans-serif; font-weight:600;}
h4, h5, h6 {font-family: 'proximanova',Arial,sans-serif; font-weight:600;}
address {margin-bottom:0;}

.nowrap {white-space:nowrap;}
.inline {display:inline;}
.no-bullet {list-style-type:none; margin-left:0;}
.url-wrap {
  -ms-word-break: break-all;

       /* Be VERY careful with this, breaks normal words wh_erever */
       word-break: break-all;

       /* Non standard for webkit */
       word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

footer {background:#333; color:#fff;}

#page-content, footer {padding-bottom:1em; padding-top:1em;}

img {max-width:100%; height:auto;}
video {max-width:100%; height:auto;}

.action-button {margin-left:2px; margin-right:2px;}
.action-button i.fa {vertical-align:middle;}
i.fa.help-icon {vertical-align:baseline;}

.label-primary:hover {background-color: darken($brand-primary, 10%);}

.label {
  a {
    color: #fff;
  }
}

.panel-title > a.action-button {color:white;}


/* Interactive tagging forms */
.interactive-panel {
  .keyword-select .form-group {margin-bottom:0;}
  form { margin-bottom: 15px; }
  .panel-heading {display:table; width:100%;}
  h2.panel-title, .panel-heading span {display:table-cell;}
  ul {margin-bottom:0;}
}

#add-mappings form {margin:15px;}

.panel-body.mappings {padding:0;}
table.mappings {
  margin-bottom:5px;
  th:first-child, td:first-child {padding-left:15px;}
}
