// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.channel {
  color: #bb0000;
}

ul.channel-list {
  padding-left: 0;
  li {
    list-style-type: none;
    margin-left: 0;
  }
}
