// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#masthead {clear:both; background:#fff image-url('bg_leaves.jpg') top center no-repeat; background-size:cover; overflow:hidden; text-align:center; position:relative;}
#masthead h1 {font-family:'proximanova',Arial,sans-serif; font-weight:600; font-size:60px; color:#111; line-height:1.0; margin-bottom:30px;}
#masthead h4 {color:#666666; font-size:22px; line-height:30px; margin-bottom:8px; margin-top:0;}
#masthead h4 a {text-decoration:underline;}
#masthead h5 {color:#666666; font-size:18px; line-height:24px; margin-top:0;}

div.osu_logo a {display:block; overflow:hidden; width:167px; height:180px; text-indent:-9999px; background:transparent image-url('osu-web-header-vert2.png') 0 0 no-repeat; }

#mm_image {width: 350px;}

.login_link {display:block; position:absolute; top:15px; right:15px;}


/* #Media Queries
================================================== */
    
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    #masthead h1 {font-size:52px;}
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    #masthead h1 {font-size:44px; padding-top:20px;}
    div.osu_logo {display:none;}    
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    #mm_image {width: 250px;}
  }
