// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* #Media Queries
================================================== */
* body {
  background: none repeat scroll 0 0 #222;
}
   
   
   #content {
  background-color: #f7f7f7;
  padding: 1em 0;
  padding-bottom: 2em;
}
   
   
   #osu_navbar .univ_name a {
  background: url("/assets/osu_navbar/osu_name.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 16px;
  margin-left: 0;
  text-indent: -9999px;
  width: 80px;
}
    
    
#masthead {
  background-color: #222;
  /*background-image: url("../images/bg-discsovery-revised-2015.jpg"), linear-gradient(to bottom, #222222 0%, #333333 100%);*/
  background-position: center top;
  background-repeat: no-repeat;
}    
    
    
#masthead a.logo {
  background: url(asset-path("osu-logo.png")) no-repeat scroll left center / contain  rgba(0, 0, 0, 0);
  display: block;
  float: none;
  height: 60px;
  margin: 60px 0;
  text-indent: -9999px;
  width: 344px;
}
#masthead h1 {
  color: #ffffff;
  float: none;
  font-size: 45px;
  font-weight: 300;
  margin: 60px 0 0.4em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-align: right;
}

p.home-intro {
  color: #333;
  font-size: 33px;
  line-height: 125%;
  margin-top: 1em;
}

    
a.home-login{
  margin-top: 2em;
  width: 100%;
}
    
    
#page-footer {
  background: none repeat scroll 0 0 #222;
  color: #fff;
  padding: 30px 0;
}
    
#page-footer * {
  color: #fff;
}

#footer-info p {
  font-size: 13px;
  margin-bottom: 0;
}


#page-footer a.wordmark {
  background: url(asset-path("osu-wordmark.png")) no-repeat scroll left center / contain  rgba(0, 0, 0, 0);
  display: block;
  height: 35px;
  text-indent: -9999px;
  width: 295px;
}
    
    
#page-footer a {
  text-decoration: underline;
}


/* #Media Queries
================================================== */

  @media (max-width: $screen-sm-max) {
    p.home-intro { font-size: 23px; }
    #masthead h1 { font-size:40px; }

  }

  @media (max-width: $screen-xs-max) {
    #masthead {
      h1 { text-align:center; margin: 30px 0; font-size:40px; }
      a.logo { display:none; }
    }
  }


  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    #mm_image {width: 250px;}
  }
