<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hello, 

    <p>This is just a friendly update that you registered a channel, 
    <%= @channel %>, with <a href="https://mediamagnet.osu.edu">Media Magnet</a>
    , and this channel has not been active for 30 days. We understand that 
    sometimes its hard to produce fresh content, and that's ok! We just wanted
    to make sure you remembered this channel was out there. If you are no longer
    producing content for this channel, please take a moment to log in to Media 
    Magnet and mark this channel as 'archived'.</p>

  </body>
</html>
